<div class="container" ng-controller="CtrlStep3">
	<div class="col-md-12">
		<div class="showStep">
			<h3>Step3/3: add indicators to the activity</h3>
			<button class="btn btn-default" data-toggle="collapse" data-target="#instruction">? Instruction</button>
			<div id="instruction" class="panel-collapse collapse">
				<p>In this step, you can add indicators and gamification elements to the application. For example:</p>
				<ul>
					<li>Indicators: indicators would be used to monitor students' action, meanwhile encourage students to regulate their behaviors. For example, you can add progress bar to the activity to help students be aware of the progress. </li>
					<li>Gaminifaction elements: gamification elements are used to motivate students and gain entertainment to the task. For example, a timer badge to encourage students to finish tasks within limited time; or a "comment badge" to stimulate students to submit more comments.</li>
				</ul>
			</div>
		</div>
		<!-- set the corrdination of the map -->
		<div class="jumbotron" id="items">
			<form class="row form-horizontal" role="form" id="step3Form">
				<div class="col-md-offset-1 col-md-10">
					<div class="row item">
						<div class="col-md-4">
							<h4>Indicators:</h4>
						</div>
						<div class="col-md-8">
							<div class="form-group checkbox" ng-if="probar == 'individual'">
								<label class="control-label bold"><input type="checkbox" ng-model="mapstep3.indiStu.indiviPro">Add individual evaluating progress</label>
							</div>
							<div class="form-group checkbox" ng-if="probar == 'group'">
								<label class="control-label bold"><input type="checkbox" ng-model="mapstep3.indiStu.groupPro">Add group evaluating progress</label>
							</div>
						</div>
					</div>
					<div class="row item">
						<div class="col-md-4">
							<h4>Gamification elements:</h4>
						</div>
						<div class="col-md-8">
							<div class="form-group checkbox marginBottom">
								<label class="control-label bold"><input type="checkbox" ng-model="commentbadge">Add individual "comment badge"</label>
								<div ng-show="commentbadge">
									<div class="pull-left">
										<label class="control-label">Student can earn a "comment badge" by submitting more than</label>
									</div>
									<div class="col-md-2">
										<input type="number" name="comment" step="any" class="form-control" ng-model="mapstep3.indiStu.badge.comment" required>
									</div>
									<div class="pull-left">
										<label class="control-label">comments</label>
									</div>
								</div>
							</div>
							<div class="form-group checkbox">
								<div class="row col-md-5">
									<label class="control-label bold pull-left"><input type="checkbox" ng-model="mapstep3.indiStu.badge.timer">Add group "timer badge"</label>
								</div>
								<div class="col-md-7" ng-show="mapstep3.indiStu.badge.timer==true">
									<div ng-repeat ="i in mapstep3.step track by $index">
										<div class="form-group" ng-show="i">
											<div class="checkboxMargin">
												<div class="pull-left">
													<label class="control-label"><input type="checkbox" ng-model="mapstep3.indiStu.timers[$index]">Step{{$index}}</label>
												</div>
												<div ng-show="mapstep3.indiStu.timers[$index]">
													<div class="col-md-4">
														<input type="text" name="time{{$index}}" placeholder="mm:ss" class="form-control timers" ng-model="mapstep3.indiStu.timerValue[$index]">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a class="btn btn-primary" class="formerStepBtn" ng-click="changeStep($event)" href="#/step2"> <span class="glyphicon glyphicon-chevron-left"></span> Back</a>
					<a class="btn btn-primary pull-right" class="nextStepBtn" ng-click="submit($event)" href="#/">Save <span class="glyphicon glyphicon-floppy-disk"></span></a>
					<button class="btn btn-default pull-right" class="nextStepBtn" data-toggle="modal" data-target="#advanceOpt" id="advBtn">Advanced</button>
					<!-- advanced option: define device role -->
					<div class="modal fade" role="dialog" id="advanceOpt">
            <div class="modal-dialog markerArea">
              <div class="modal-header">
                <h4 class="modal-title">Define roles of devices</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                	<div class="col-md-12 caption">
                		<p>Instruction: the default configuration of device is using a large display as the shared display and tablet as personal device. You can change this configuration based on this real situation.</p>
                	</div>
                  <label class="bold col-md-12">
                    Choose what kind of configuration you want to apply in the class
                  </label>
                  <div class="col-md-12">
										<div class="col-md-12">
											<div class="radio deviceCompo">
												<label class="bold"><input type="radio" name="devicecompo" value="shared" ng-model="mapstep4.device" required>Only shared display</label>
											</div>
											<div class="col-md-12 chooseDevice" ng-show="mapstep4.device == 'shared'">
												<div class="col-md-5 marginTop7">
													Choose the device type
												</div>
												<div class="col-md-7">
													<div class="radio deviceType">
														<label><input type="radio" name="sharetype" value="display" ng-model="mapstep4.share" required>Large display</label>
													</div>
													<div class="radio deviceType">
														<label><input type="radio" name="sharetype" value="tablet" ng-model="mapstep4.share" required>Tablet</label>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="radio deviceCompo">
												<label class="bold"><input type="radio" name="devicecompo" value="person" ng-model="mapstep4.device" required>Only personal device</label>
											</div>
											<div class="col-md-12 chooseDevice" ng-show="mapstep4.device == 'person'">
												<div class="col-md-5 marginTop7">
													Choose the device type
												</div>
												<div class="col-md-7">
													<div class="radio deviceType">
														<label><input type="radio" name="persontype" value="tablet" ng-model="mapstep4.person" required>Tablet</label>
													</div>
													<div class="radio deviceType">
														<label><input type="radio" name="persontype" value="phone" ng-model="mapstep4.person" required>Smartphone</label>
													</div>
												</div>
											</div>
										</div>							
										<div class="col-md-12">
											<div class="radio deviceCompo">
												<label class="bold"><input type="radio" name="devicecompo" value="both" ng-model="mapstep4.device" required>Both shared display and personal device</label>
											</div>
											<div class="col-md-12 chooseDevice" ng-show="mapstep4.device == 'both'">
												<div class="col-md-12 marginTop7">
													Choose the device type
												</div>
												<div class="col-md-12">
													<div class="row chooseDevice">
														<div class="col-md-4 marginTop7">
															Shared display
														</div>
														<div class="col-md-7">
															<div class="radio deviceType">
																<label><input type="radio" name="bothsharetype" value="display" ng-model="mapstep4.shared" required>Large display</label>
															</div>
															<div class="radio deviceType">
																<label><input type="radio" name="bothsharetype" value="tablet" ng-model="mapstep4.shared" required>Tablet</label>
															</div>
														</div>
													</div>
													<div class="row chooseDevice">
														<div class="col-md-4 marginTop7">
															Personal device
														</div>
														<div class="col-md-7">
															<div class="radio deviceType">
																<label><input type="radio" name="bothpersontype" value="tablet" ng-model="mapstep4.person" required>Tablet</label>
															</div>
															<div class="radio deviceType">
																<label><input type="radio" name="bothpersontype" value="phone" ng-model="mapstep4.person" required>Smartphone</label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>  Close</button>
              </div>
            </div>
          </div>
				</div>
			</form>
		</div>
	</div>
</div>
