<div class="container" ng-controller="CtrlStep4">
	<div class="col-md-12">
		<div class="showStep">
			<h3>Step4/4: define roles of devices</h3>
			<button class="btn btn-default" data-toggle="collapse" data-target="#instruction">? Instruction</button>
			<div id="instruction" class="panel-collapse collapse">
				<p>In this step, you can choose to add functionalities to each task and assign devices to demonstrate these functionalities.</p>
			</div>
		</div>
		<!-- set the corrdination of the map -->
		<div class="jumbotron" id="items">
			<div class="row UIRole">
				<div class="col-md-offset-1 col-md-10">
					<div class="row item">
						<div class="col-md-4">
							<label>Choose which role of device you want to have in the class</label>
						</div>
						<div class="col-md-8">
							<div class="col-md-12">
								<div class="radio deviceCompo">
									<label><input type="radio" name="devicecompo" value="shared" ng-model="mapstep4.device" required>Only shared display</label>
								</div>
								<div class="col-md-12" ng-show="mapstep4.device == 'shared'">
									<div class="col-md-5">
										Choose the device type:
									</div>
									<div class="col-md-7">
										<div class="radio deviceType">
											<label><input type="radio" name="sharetype" value="display" ng-model="mapstep4.share" required>Large display</label>
										</div>
										<div class="radio deviceType">
											<label><input type="radio" name="sharetype" value="tablet" ng-model="mapstep4.share" required>Tablet</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="radio deviceCompo">
									<label><input type="radio" name="devicecompo" value="person" ng-model="mapstep4.device" required>Only personal device</label>
								</div>
								<div class="col-md-12" ng-show="mapstep4.device == 'person'">
									<div class="col-md-5">
										Choose the device type:
									</div>
									<div class="col-md-7">
										<div class="radio deviceType">
											<label><input type="radio" name="persontype" value="tablet" ng-model="mapstep4.person" required>Tablet</label>
										</div>
										<div class="radio deviceType">
											<label><input type="radio" name="persontype" value="phone" ng-model="mapstep4.person" required>Smartphone</label>
										</div>
									</div>
								</div>
							</div>							
							<div class="col-md-12">
								<div class="radio deviceCompo">
									<label><input type="radio" name="devicecompo" value="both" ng-model="mapstep4.device" required>Both shared display and personal device</label>
								</div>
								<div class="col-md-12" ng-show="mapstep4.device == 'both'">
									<div class="col-md-5">
										Choose the device type:
									</div>
									<div class="col-md-7">
										<div class="row">
											<div class="col-md-5">
												Shared display
											</div>
											<div class="col-md-7">
												<div class="radio deviceType">
													<label><input type="radio" name="bothsharetype" value="display" ng-model="mapstep4.share" required>Large display</label>
												</div>
												<div class="radio deviceType">
													<label><input type="radio" name="bothsharetype" value="tablet" ng-model="mapstep4.share" required>Tablet</label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5">
												Personal device
											</div>
											<div class="col-md-7">
												<div class="radio deviceType">
													<label><input type="radio" name="bothpersontype" value="tablet" ng-model="mapstep4.person" required>Tablet</label>
												</div>
												<div class="radio deviceType">
													<label><input type="radio" name="bothpersontype" value="phone" ng-model="mapstep4.person" required>Smartphone</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a class="btn btn-primary" class="formerStepBtn" ng-click="changeStep()" href="#/step3"> <span class="glyphicon glyphicon-chevron-left"></span> Back</a>
					<a class="btn btn-primary pull-right" class="nextStepBtn" ng-click="submit()" href="#/">Save <span class="glyphicon glyphicon-floppy-disk"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>
