<div class="hero-unit">
     <h1>Contact Form</h1> 
    </br>
    <form class="form-horizontal" id="contact-form">
        <div class="form-group">
            <label class="col-md-3 control-label" for="lng">Longtitude</label>
            <div class="col-md-6">
                <input type="text" name="timer" placeholder="mm:ss" class="form-control timers">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <!-- <div class="controls"> -->
                <input class="form-control timers" type="text" name="name"  id="name" placeholder="Your name">
            <!-- </div> -->
        </div>
        <div class="form-group">
            <label class="control-label" for="email">Email Address</label>
            <div class="controls">
                <input type="text" name="email" id="email" placeholder="Your email address" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="subject">Subject</label>
            <div class="controls">
                <select id="subject" name="subject">
                    <option value="na" selected="">Choose One:</option>
                    <option value="service">Feedback</option>
                    <option value="suggestions">Suggestion</option>
                    <option value="support">Question</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <div class="form-actions">
            <input type="hidden" name="save" value="contact">
            <a ng-click="changeStep($event)" class="btn btn-success" href="#/">Submit Message</a>
            <button type="reset" class="btn">Cancel</button>
        </div>
    </form>
</div>